* {
    font-family: sans-serif;
}

.frm-cont {
    position: relative;
    top: 50px;
    height: 72vh;
    display: flex;
    justify-content: center;
}

.kl {
    background-color: rgba(92,117,146,.9);
    text-align: center;
    height: 72vh;
    width: 150vh;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.cnt {
    color: #223142;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.cnt-2 {
    color:#223142;
    padding-top: 3rem;
    font-size: 2rem;
}

.sct {
    margin: 0 auto;
    width: 110vh;
    height: 100px;
    display: flex;
    justify-content: center;
}

.sect-lbl {
    justify-content: end;
    padding: 10px;
    width: 90rem;
    height: 5rem;
    margin: 1vh;
}

.form-input {
    background-color: #fff;
    border-radius: 0.375rem;
    width: 45vh;
    margin-top: 10px;
    padding: 0.7rem;
    border: #fff;
}

.lyc-label {
    font-size: 1.1rem;
    position: relative;
    right: 205px;
    color: #121a24;
}

.lst-sct {
    height: 407px;
    width: 110vh;
    margin: 0 auto;
}

.nw-area-text {
    width: 988px;
    border: 1 solid #ced4da;
    border-radius: 0.375rem;
    height: 17rem;
    margin-top: 20px;
}

.lyc-label-01 {
    color: #121a24;
    font-size: 1.1rem;
    position: relative;
    right: 455px;
    top: 8px;
}

.sect-02 {
    display: flex;
    width: 103vh;
    height: 6vh;
    margin: 0 auto;
}

.lst-btn {
    position: relative;
    border-radius: 5px;
    width: 80px;
    height: 45px;
    color: #fff;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
    background-color: #344d67;
    border: 0;
}

.lst-btn:hover {
    background-color: #1bd497d0;
}